/* this is Header section  */

*{
    margin: 0;
    padding: 0;
}


body{
   font-family: "Open Sans", sans-serif;

}
.hed{
  background-color: #ffffff;
  height: 100px;
}


.navber{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin: auto;
    gap: 30px;
    height: 100px;
    align-items: center;
    background-color:#ffffff;
}
 .nav-ul {
    display: flex;
    justify-content: center;
    list-style: none;  
    gap: 30px;     
    
 }
 a{

    
    text-decoration: none;
    color: #575757;
    font-size: 22px;
    font-weight: 500;
   
   
    
 }

 .nav-button {
   display: flex;
   justify-content: flex-end;
   margin-right: 100px;
    
 }


.main-button{
     height: 60px;
    width: 250px;
    background-color:#1D4ED8 ;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
 }

 .nav-image img{
  width: 200px;
  height: auto;
  margin-left: 100px;
 }

 /* This is Hero Section here  */

 .hero{
   background-image:
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url("../image/banner.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   
  
 }

 .hero-text{

   text-align: center;
   
   color: #ffffff;
  
   gap: 40px;
   
 }
  .hero-text h1{
font-size: 6rem;
font-weight: bold;
margin-top: 7%;
  }

  .hero-text h3{
   font-size: 1.5rem;
font-weight: bold;
  }
  .hero .hero-button{
   display: flex;
   justify-content: center;
margin-top: auto;
padding-bottom: 80px;

  }
  .hero-button .hero-button1{
    height: 100px;
    width: 350px;
    font-size: 28px;
  }

  /* This is speaker section  */

  .speaker-sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    gap: 50px;
  }
.speakers h1{
  text-align: center;
  margin: 50px;
  font-size: 6rem;
  
}
  .speaker img{
    width: 100%;
    display: block;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
  }

  .speaker{
    border: 1px solid #E5E7EB ;
    border-radius: 20px;
  }

  .speaker h4{
    padding: 20px;
    color: #1D4ED8;
    font-size: 18px;
    margin-top: 20px;
  }

  .speaker h2{
    padding-left: 20px;
    font-size: 2.5rem;
  }
   .speaker p{
    padding: 20px;
    color: #575757;
    margin-bottom: 20px;
   }

   /* this is plane section  */

   .pro-plan{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 7%;
    gap: 100px;
   }

   .plane h1 { 
    text-align: center;
    margin: 30px;
    font-size: 5rem;
   }
   .plane h4 { 
    text-align: center;
    margin: 30px;
    font-size: 18px;
    color: #575757;
   }

   .plane{
    margin: 30px;
   }

   .plane-card{
    
    background-color: #E5E7EB;
    padding: 40px;
    border-radius: 10px;
   }

   .plane-card h3,
   .plane-card p ,
   .plane-card ul{
    color: #575757;
    padding: 20px;
    
   }

   .plane-card h2{
    font-size: 4rem;
    padding-left: 20px;
    color:#0D1B2A ;
   }

   .plane-card ul{
    margin: 20px;
   }
   .plane-card li{
    margin-bottom: 20px;
   }

   .button-cluss{
    display: grid;
   }

   .main-button1{
    height: 60px;
    color: #2563EB;
    border: 2px solid #2563EB;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;

   }
   .button-cluss .main-button2{
    color: #ffffff;
    background-color: #2563EB;
   }

   .button-cluss .main-button3{
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    height: 60px;

   }
   .pro-plan .plane2{
    background-color: #0D1B2A;
    
   }
   .plane2 h3{
    color: #93C5FD;
    
   }

   /* .plane2 .paragraph2, .list-2, .hedding2{
    color: #ffffff;
   } */
.plane2 h2,
.plane2 ul,
.plane2 p {
  color: #ffffff;
}
   /* This is a Something Missing section  */

   .missing-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin: 5%;
    gap: 50px;
    }

    .missing-cards .mis-card{
      background-color: #ffffff;
      border: 1px solid #E5E7EB;
      border-radius: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      border-bottom: 4px solid #2563EB;
    }

    .icon{
      display: flex;
      width: 120px;
      height:  120px;
      justify-content: center;
      background: #EEF4FF;
      border-radius: 50%;
      align-items: center;
      margin: 25px;
      font-size: 3rem;
      color: #2563EB;
    }

    .mis-card h2{
      color: #2563EB;
      font-size: 3rem;
      margin: 10px;
    }

    .mis-card h3{
      font-size: 1.5rem;
      
    }
    .mis-card .line{
      height: 4px;
      width: 50px;
      background-color: #dbdde0;
    border-radius: 999px;
    margin: 20px auto;
    }

    .mis-card p{
      color: #575757;
      margin: 0 30px 30px 30px;
      font-size: 18px;
      line-height: 35px;
    }
   
.Missing{
  text-align: center;
  margin: 50px;
}

.Missing h2{
  font-size: 4rem;
  padding: 10px;
}
.Missing h4{
  color: #2563EB;
  font-size: 20px;
}

.Missing p{
  color: #575757;
  font-size: 18px;
  line-height: 35px;
}

.mis-card .icon-second{
  color: green;
  background-color: #d8f8e2;
}
.mis-card .icon-third{
  color: red;
  background-color: #f7c9c9;
}

.mis-card .icon-fourth{
  color: hotpink;
  background-color: #fadbf1;
}

.mis-card2 h2{
  color: green;
}
.mis-card3 h2{
  color: red;
}
.mis-card4 h2{
  color: hotpink;
}


 .missing-cards .mis-card2{
  border-bottom: 4px solid green;
}
 .missing-cards .mis-card3{
  border-bottom: 4px solid red;
}
 .missing-cards .mis-card4{
  border-bottom: 4px solid hotpink;
}

/* this is extra on Missing Something Section  */
.extra{
  display: grid;
  grid-template-columns: 2fr 2fr auto ;
  margin: 7%;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
  border-bottom: 5px solid #2563EB;
  


}

.one-mission{
  display: grid;
  grid-template-columns:auto 1fr;
}

.one-mission .icon{
  padding-top: none;
}

.one-mission .texts{
  margin-top: 50px;
}
.one-mission .texts p{
  font-size: 1.5rem;
  line-height: 50px;
  color: #0151ff;
  font-weight: 700;

}

.extra .seco-text {
  margin: 50px;
  font-size: 1.3rem;
  color: #575757;
  line-height: 40px;
}

.extra .main-button{
  margin: 55px;
}


/* This is Footer Section  */

.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1f212f;
}

.footer1{
  display: flex;
  margin-left: 12%;

}
.icon-third{
  background-color: #0151ff;
  color: #ffffff;
  border-radius: 20px;
  height: 80px;
  width: 80px;

}
.foot-text h2{
  color: #ffffff;
  margin-top: 30px;
  font-size: 2rem;
}
.foot-text h3{
  color: #0151ff;
  font-size: 20px;
}


.footer2 h3{
 margin:20px 0 20px 160px ;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.foot-icons{
  display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 17%;
}


  
.foot-icons .foot-icon{
  display: flex;
      width: 40px;
      height:  40px;
      justify-content: center;
      background-color: #263546;
      border-radius: 50%;
      align-items: center;
      /* margin:  ; */
      font-size: 1.5rem;
      color: #ffffff;
      border: 1px solid #57647e;
}

.footer3{
  margin-left: 13%;
}
.footer4{
  margin-right: 15%;
}

.footer3 p{
color: #ffffff;
padding: 20px;
}

.footer4 p{
  text-align: end;

color: #ffffff;
padding: 30px;
}
hr{
  border: none;
  height: 2px;
 background-color: #575757;
}